<table class="body-wrap">
	<tr>
    <td class="container">
      <table class="content">
      	<tr>
      		<td class="title">Layout Title</td>
      	</tr>
        <tr>
          <td>
            <%-body %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
